<h2>Sobre o app</h2>
<p>Aplicativo de Gestão Financeira desenvolvido para a aula de Aplicações Interativas e Design Responsivo do Curso de Sistemas para Internet do Centro Universitário SENAC.</p>

<h3>Objetivos</h3>
<p>Esta aplicação possui como proposta atender os seguintes requisitos:</p>
<ul>
    <li>Definir, “armazenar” e editar o salário ganho por mês;</li>
    <li>Criar e “armazenar” uma compra;</li>
    <li>Permitir a exibição das compras do mês;</li>
    <li>Definir uma categoria para a compra;</li>
    <li>Excluir uma compra;</li>
    <li>Exibir o total gasto e o restante no mês.</li>
</ul>

<h3>Integrantes</h3>
<ul>
    <li>Luiz Carlos Garrido de Souza</li>
    <li>Renan Augusto da Silva</li>
</ul>

<h3>Referências</h3>
<ul>
    <li><a target="blank" href="https://material.angular.io/">Angular Material</a></li>
    <li><a target="blank" href="https://material.io/">Material Design</a></li>
    <li><a target="blank" href="https://fonts.google.com/icons">Material Icons</a></li>
</ul>