<h2>Sobre o app</h2>
<p>Aplicativo de Gestão Financeira desenvolvido para a aula de Aplicações Interativas e Design Responsivo do Curso de Sistemas para Internet do Centro Universitário SENAC.</p>

<h3>Objetivos</h3>
<p>Esta aplicação possui como proposta atender os seguintes requisitos:</p>
<ul>
    <li>Definir, “armazenar” e editar o salário ganho por mês;</li>
    <li>Criar e “armazenar” uma compra;</li>
    <li>Permitir a exibição das compras do mês;</li>
    <li>Definir uma categoria para a compra;</li>
    <li>Excluir uma compra;</li>
    <li>Exibir o total gasto e o restante no mês.</li>
</ul>

<h3>Integrantes</h3>


<h3>Referências</h3>