<h2>Salário</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident consequatur hic ratione repellat ab? Libero deserunt ipsam et temporibus animi, quisquam modi ratione voluptas fugit, quaerat accusantium, error ut a.</p>

<section>
    <table mat-table [dataSource]="payments">
        
        <!-- tr (table row) ~ ng-container -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let payment">
                {{payment.id}}
            </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>

        <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef>Mês</th>
            <td mat-cell *matCellDef="let payment">
                {{payment.month}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef>Ano</th>
            <td mat-cell *matCellDef="let payment">
                {{payment.year}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Descrição</th>
            <td mat-cell *matCellDef="let payment">
                {{payment.description}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let payment">
                {{payment.value | currency}}
            </td>
            <td mat-footer-cell *matFooterCellDef>{{ getTotal() | currency}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let payment">
                <button mat-icon-button color="basic">
                    <mat-icon title="Editar" (click)="select(payment)">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(payment.id);">
                    <mat-icon title="Deletar">delete</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr mat-footer-row *matFooterRowDef="columns"></tr>
    
    </table>
</section>

<section *ngIf="selectedPayment">
    <h2>Dados de Remuneração</h2>

    <!-- Mês -->
    <mat-form-field class="formField" appearance="standard" color="accent">
        <mat-label>Mês</mat-label>
        <mat-select [(ngModel)]="selectedPayment.month">
            <mat-option value="Janeiro">Janeiro</mat-option>
            <mat-option value="Fevereiro">Fevereiro</mat-option>
            <mat-option value="Março">Março</mat-option>
            <mat-option value="Abril">Abril</mat-option>
            <mat-option value="Maio">Maio</mat-option>
            <mat-option value="Junho">Junho</mat-option>
            <mat-option value="Julho">Julho</mat-option>
            <mat-option value="Agosto">Agosto</mat-option>
            <mat-option value="Setembro">Setembro</mat-option>
            <mat-option value="Outubro">Outubro</mat-option>
            <mat-option value="Novembro">Novembro</mat-option>
            <mat-option value="Dezembro">Dezembro</mat-option>
        </mat-select>
        <!--<input matInput [(ngModel)]="selectedPayment.month">-->
    </mat-form-field><br>

    <!-- Ano -->
    <mat-form-field class="formField" appearance="standard" color="accent">
        <mat-label>Ano</mat-label>
        <input matInput [(ngModel)]="selectedPayment.year" type="number" min="1900">
    </mat-form-field><br>

    <!-- Descrição -->
    <mat-form-field class="formField" appearance="standard" color="accent">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="selectedPayment.description">
    </mat-form-field><br>

    <!-- Valor -->
    <mat-form-field class="formField" appearance="standard" color="accent">
        <mat-label>Valor</mat-label>
        <input matInput [(ngModel)]="selectedPayment.value" type="number" min="1">
    </mat-form-field><br><br>

    <button mat-raised-button color="primary" (click)="save()">
        SALVAR
    </button>
    <button class="button-aside" mat-raised-button color="basic" (click)="cancel()">
        CANCELAR
    </button>
</section>

<button mat-fab color="primary" title="Cadastrar" class="faButton" (click)="insert();">
    <mat-icon>add</mat-icon>
</button>