<h2>Compras</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident consequatur hic ratione repellat ab? Libero
  deserunt ipsam et temporibus animi, quisquam modi ratione voluptas fugit, quaerat accusantium, error ut a.</p>

<button mat-fab color="primary" class="fabAdd" (click)="create()">
  <mat-icon>add</mat-icon>
</button>

<div>
  <mat-table [dataSource]="purchases">

    <ng-container matColumnDef="id">

      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>

      <mat-cell *matCellDef="let purchase">
        {{ purchase.id }}
      </mat-cell>

      <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>

    </ng-container>

    <ng-container matColumnDef="name">

      <mat-header-cell *matHeaderCellDef>
        Nome
      </mat-header-cell>

      <mat-cell *matCellDef="let purchase">
        {{ purchase.name }}
      </mat-cell>

      <mat-footer-cell *matFooterCellDef></mat-footer-cell>

    </ng-container>

    <ng-container matColumnDef="value">

      <mat-header-cell *matHeaderCellDef>
        Preço
      </mat-header-cell>

      <mat-cell *matCellDef="let purchase">
        {{ purchase.value | currency }}
      </mat-cell>

      <mat-footer-cell *matFooterCellDef></mat-footer-cell>

    </ng-container>

    <ng-container matColumnDef="category">

      <mat-header-cell *matHeaderCellDef>
        Categoria
      </mat-header-cell>

      <mat-cell *matCellDef="let purchase">
        {{ purchase.category }}
      </mat-cell>

      <mat-footer-cell *matFooterCellDef>{{ getTotal() | currency }}</mat-footer-cell>

    </ng-container>

    <ng-container matColumnDef="actions">

      <mat-header-cell *matHeaderCellDef>
        Ações
      </mat-header-cell>

      <mat-cell *matCellDef="let purchase">
        <button mat-icon-button (click)="select(purchase)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="confirm(purchase.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>

      <mat-footer-cell *matFooterCellDef></mat-footer-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>
    <mat-footer-row *matFooterRowDef="columns"></mat-footer-row>



  </mat-table>


  <div *ngIf="selectedPurchase" class="editArea">
    <h2>Dados de Compra</h2>

    <mat-form-field class="formField" appearance="standard" color="accent">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="selectedPurchase.name">
    </mat-form-field><br>

    <mat-form-field class="formField" appearance="standard" color="accent">
      <mat-label>Preço</mat-label>
      <input matInput type="number" [(ngModel)]="selectedPurchase.value">
    </mat-form-field><br>

    <mat-form-field class="formField" appearance="standard" color="accent">
      <mat-label>Categoria</mat-label>
      <input matInput [(ngModel)]="selectedPurchase.category">
    </mat-form-field><br><br>

    <button mat-raised-button color="primary" (click)="save()">
      SALVAR
    </button>
    <button class="button-aside" mat-raised-button color="basic" (click)="cancel()">
      CANCELAR
    </button>
  </div>
